<!DOCTYPE html>
<html>
   <head>
      <title>Psychometric Test</title>
      <meta charset="UTF-8">
      <meta name="description" content="Free Web tutorials">
      <meta name="keywords" content="HTML,CSS,XML,JavaScript">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="assets/css/materialize.css">
      <link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
      <!-- bar -->
      <link rel="stylesheet" type="text/css" href="assets/css/short.css">
   </head>
   <body>
      <!-- headder -->
     <div class="navbar-fixed">
      <nav class="white">
         <div class="nav-wrapper container-wrap">
            <a href="http://5ineprojects.com/cherryhire/" class="brand-logo">
            <img src="assets/img/logo.png" class="responsive-img" alt="logo">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fas fa-bars black-text"></i>
            </a>
            <ul class="right hide-on-med-and-down">
               <li><i class="far fa-flag font-col dropdown-trigger hide-ref2" data-target='dropdown4'></i><i class="fas fa-circle yellow-text point"></i></li>
               <ul id='dropdown4' class='dropdown-content'>
                  <li ><a href="#!">One</a></li>
                  <li><a href="#!">Two</a></li>
               </ul>
               <li>
                  <i class="far fa-bell font-col dropdown-trigger hide-ref" data-target='dropdown3'></i><i class="fas fa-circle red-text point1"></i>
               </li>
               <ul id='dropdown3' class='dropdown-content'>
                  <li><a href="#!" class="black-text">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </a></li>
                  <li><a href="#!" class="black-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></li>
               </ul>
               <li class="dropdown-trigger hide-ref1" data-target='dropdown2'>
                  <img src="assets/img/droupdown-img.png" class="responsive-img droup-img "  alt="">
                  <i class="fas fa-caret-down font-col1 dropdown-trigger" ></i>
               </li>
               <!-- Dropdown Structure -->
               <ul id='dropdown2' class='dropdown-content'>
                  <li><a href="#!">one</a></li>
                  <li><a href="#!">two</a></li>
               </ul>
            </ul>
         </div>
      </nav>
   </div>
      <ul class="sidenav" id="mobile-demo">
         <li><a href="sass.html">Sass</a></li>
         <li><a href="badges.html">Components</a></li>
         <li><a href="collapsible.html">Javascript</a></li>
         <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <!-- end headder -->
      <!-- first layout -->
      <section class="sec-top">
         <div class="container-wrap">
            <div class="col l12 m12 s12">
               <div class="row">
                  <div class="col l3 m12 s12">
                  <div class="side-bar white z-depth-1">
                     <ul class="li-list ">
                        <a href="recruiter-dashboard.html"><li><i class="fab fa-delicious li-icon"></i>Dashboard</li></a>
                        <a href=""><li><i class="far fa-user li-icon"></i>My Account</li></a>
                        <a href="manage-employers-view-active-list.html"><li><i class="fas fa-briefcase li-icon"></i>Manage Employees</li></a>
                        <a href="candidate-name.html"><li><i class="fas fa-search-plus li-icon"></i>People Search</li></a>
                        <a href=""><li><i class="fab fa-black-tie li-icon"></i>Manage Jobs</li></a>
                        <a href=""><li><i class="fas fa-hand-holding-usd li-icon"></i>Manage Price</li></a>
                        <a href="cv-writing.html"><li><i class="fas fa-file-signature li-icon"></i>Cv Writing</li></a>
                        <a href="psychometric-test.html"><li class="active"><i class="fas fa-file-alt li-icon"></i>Psychometric Test</li></a>
                     </ul>
                  </div>
                  </div>
                  <div class="col m12 s12 l9">
                     <p class="h5-para black-text  mtb-20">Psychometric Test</p>
                     <div class="main-bar">
                        <!-- shorting -->
                        <div class="shorting-table1 z-depth-1">
                           <div class="row">
                              <div class="col l12 m12 s12">
                                 <table id="table-short" class="responsive-table tab-time">
                                    <thead>
                                       <tr class="tt">
                                          <th id="a" class="h5-para-p2">Candidate Name</th>
                                          <th id="b" class="h5-para-p2">Email ID</th>
                                          <th id="c" class="h5-para-p2">Phone Number</th>
                                          <th id="d" class="h5-para-p2">Test</th>
                                          <th id="e" class="h5-para-p2 center-align">Amount</th>
                                          <th id="f" class="h5-para-p2">Transaction ID</th>
                                          <th id="g" class="h5-para-p2">Date</th>
                                       </tr>
                                       <tr>
                                          <th class="th-padd th-aro"><input id="myInput" type="name" class="validate input-type " placeholder="search.."></th>
                                          <th class="th-padd th-aro"><input id="myInput1" type="email" class="validate input-type " placeholder="search.."></th>
                                          <th class="th-aro1"></th>
                                          <th class="th-aro1"></th>
                                          <th class="th-aro1"></th>
                                          <th class="th-aro1"></th>
                                          <th class="th-aro1"></th>
                                       </tr>
                                    </thead>
                                    <tbody id="my">
                                       <tr>
                                          <td >Manoj Kumar </td>
                                          <td >Mano@gmail.com</td>
                                          <td >987876859</td>
                                          <td >General Aptitude Test</td>
                                          <td class="center-align">68</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                       <tr>
                                          <td >Arun Kumar</td>
                                          <td >Ak@gmail.com</td>
                                          <td >987876859</td>
                                          <td >Management Aptitude Test</td>
                                          <td class="center-align">78</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                       <tr>
                                          <td >Manoj Kumar</td>
                                          <td >Mano@gmail.com</td>
                                          <td >987876859</td>
                                          <td >General Aptitude Test</td>
                                          <td class="center-align">58</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                       <tr>
                                          <td >John Mark</td>
                                          <td >john@gmail.com</td>
                                          <td >987876859</td>
                                          <td >General Aptitude Test</td>
                                          <td class="center-align">68</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                       <tr>
                                          <td >Manoj Kumar</td>
                                          <td >Mano@gmail.com</td>
                                          <td >987876859</td>
                                          <td >General Aptitude Test</td>
                                          <td class="center-align">90</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                       <tr>
                                          <td >Arun Kumar</td>
                                          <td >Ak@gmail.com</td>
                                          <td >987876859</td>
                                          <td >General Aptitude Test</td>
                                          <td class="center-align">68</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                       <tr>
                                          <td >Manoj Kumar</td>
                                          <td >Mano@gmail.com</td>
                                          <td >987876859</td>
                                          <td >General Aptitude Test</td>
                                          <td class="center-align">108</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                       <tr>
                                          <td >John Mark</td>
                                          <td >john@gmail.com</td>
                                          <td >987876859</td>
                                          <td >General Aptitude Test</td>
                                          <td class="center-align">49</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                       <tr>
                                          <td >Arun Kumar</td>
                                          <td >Ak@gmail.com</td>
                                          <td >987876859</td>
                                          <td >General Aptitude Test</td>
                                          <td class="center-align">70</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                       <tr>
                                          <td >John Mark</td>
                                          <td >john@gmail.com</td>
                                          <td >987876859</td>
                                          <td >General Aptitude Test</td>
                                          <td class="center-align">68</td>
                                          <td>101120189201</td>
                                          <td >12-10-2018</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row -->
            </div>
         </div>
         <!-- container wrap -->
      </section>
      <!-- end layout -->
      <!-- footer -->
      <!-- footer -->
      <section class="footer white sec-top">
         <div class="row">
            <div class="container-wrap">
               <div class="col m12 s12 l4">
                  <div class="footer-container">
                     <img src="https://www.cherryhire.com/assets/img/logo.png " class="responsive-img footerlogo" alt="" width="95px">
                     <div class="footer-heading">
                        <p>Have a question? We are here to help</p>
                     </div>
                     <div class="footer-content ">
                        <ul>
                           <li><a href="mailto:support@cherryhire.com"><i class="far fa-envelope nav-slid-icon"></i>support@cherryhire.com</a></li>
                           <li><a href="tel:+97317112166"><i class="fas fa-phone"></i> +973 1711 2166</a></li>
                        </ul>
                        <ul class="footer-social-icons ">
                           <li>
                              <a class="fab fa-twitter fit" href="https://twitter.com/hashtag/cherryhire"></a>
                           </li>
                           <li>
                              <a class="fab fa-facebook fif" href="https://www.facebook.com/cherryhire/"></a>
                           </li>
                           <li>
                              <a class="fab fa-instagram fii" href="https://www.instagram.com/cherryhire/"></a>
                           </li>
                           <li>
                              <a class="fab fa-linkedin fil" href="https://www.linkedin.com/company/6616120"></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col m12 s12 l8">
                  <div class="row">
                     <div class="col s12 m4 l4">
                        <div class="footer-container">
                           <div class="footer-heading">
                              <p>CherryHire</p>
                           </div>
                           <div class="footer-content">
                              <ul>
                                 <li><a href="https://www.cherryhire.com/About">About us</a></li>
                                 <li><a href="https://www.cherryhire.com/Contact">Contact us</a></li>
                                 <li><a href="https://www.cherryhire.com/blog">Blog</a></li>
                                 <li><a href="https://www.cherryhire.com/Faq">FAQs</a></li>
                                 <li><a href="https://www.cherryhire.com/">Advertise with us</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col s12 m4 l4">
                        <div class="footer-container">
                           <div class="footer-heading">
                              <p>Employers</p>
                           </div>
                           <div class="footer-content">
                              <ul>
                                 <li><a href="https://www.cherryhire.com/hire/login">Get a free account</a></li>
                                 <li><a href="https://www.cherryhire.com/">Employer Center</a></li>
                                 <li><a href="https://www.cherryhire.com/hire/login">Post  jobs</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="footer-container">
                           <div class="footer-heading">
                              <p>Community</p>
                           </div>
                           <div class="footer-content">
                              <ul>
                                 <li><a href="">Customer care centre?</a></li>
                                 <li><a href="">Guidelines</a></li>
                                 <li><a href="">Cookies</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col s12 m4 l4">
                        <div class="footer-container">
                           <div class="footer-heading">
                              <p>Job Seekers</p>
                           </div>
                           <div class="footer-content">
                              <ul>
                                 <li><a href="">Resume Review</a></li>
                                 <li><a href="">Create  Job Alert</a></li>
                                 <li><a href="">Career Advice</a></li>
                                 <li><a href="">Community</a></li>
                                 <li><a href="">Courses</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="bottom-footer container-wrap">
               <div class="dividers"></div>
               <div class="col s12 m6 l6 ">
                  <p>Copyright©2018 - CherryHire - All rights Reserved.</p>
               </div>
               <div class="col s12 m6 l6 ">
                  <ul class="footernav">
                     <li><a href="https://www.cherryhire.com/Privacy">Privacy</a></li>
                     <li>|</li>
                     <li><a href="https://www.cherryhire.com/Terms">Terms of use</a></li>
                     <li>|</li>
                     <li>Site map</li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <!-- end footer -->
      <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="assets/js/materialize.min.js"></script>
      <script type="text/javascript" src="assets/js/script.js"></script>
      <script src="assets/js/canvasjs.min.js"></script>
      <script src="assets/js/jquery.canvasjs.min.js"></script>
      <script type="text/javascript" src="assets/js/short.js"></script>
      <script type='text/javascript'>
         $(function () {
             $("table").sortpaginate();
         });
      </script>
      <script>
         $(document).ready(function(){
           $("#myInput").on("keyup", function() {
             var value = $(this).val().toLowerCase();
             $("#my tr").filter(function() {
               $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
           });
           $("#myInput1").on("keyup", function() {
             var value = $(this).val().toLowerCase();
             $("#my tr").filter(function() {
               $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
           });
         });
      </script>
   </body>
</html>
